<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/css/restart.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/main.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Acompanhar ações</title>
</head>
<body>
    <h1>Acompanhamento</h1>
    <div class="container">
        <form id="formAcompanha">
            <label for="acompanhaInput">Digite uma ação para acompanhar</label><br><br>
            <input type="text" id="acompanhaInput" name="acompanha"><br>
            <input type="submit" value="Enviar">
        </form>
    </div>
    <div class="container">
        <button id="logado" style="margin-top: 20px;">Página principal</button>
    </div>
    <script>
        $(document).ready(function () {
            $("#formAcompanha").submit(function (e) {
                e.preventDefault(); // Impede o envio padrão do formulário
                var username = localStorage.getItem('username');
                var acompanha = $("#acompanhaInput").val();
                $.post('/acompanha', { acompanha: acompanha, username: username }, function (response) {
                    alert("Acompanha adicionado com sucesso!");
                }).fail(function() {
                    alert("Erro ao adicionar acompanhamento.");
                });
            });

            $("#logado").click(function () {
                window.location.href = "/logado";
            });
        });
    </script>
</body>
</html>